<div class="relative h-[550px] w-[350px] [perspective:1000px] bg-black">
  <div class="relative w-full h-full duration-700 preserve-3d transition-transform"
    [ngClass]="{'rotate-y-180': isFlipped}">
    <!-- Frente de la tarjeta -->
    <div class="absolute w-full h-full backface-hidden">
      <article class="w-full h-full bg-white rounded-lg shadow-lg overflow-hidden dark:bg-gray-700">
        <div>
          <img class="object-cover h-64 w-full"
            src="https://images.unsplash.com/photo-1542291026-7eec264c27ff?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw1fHxzbmVha2Vyc3xlbnwwfDB8fHwxNzEyMjIzNDAyfDA&ixlib=rb-4.0.3&q=80&w=1080"
            alt="Converse sneakers" />
        </div>
        <div class="p-4 space-y-2 grid grid-cols-2">
          <div>
            <h2 class="text-2xl font-bold text-gray-900 dark:text-white">
              {{term}}
              <button class="text-gray-600 dark:text-gray-300">
                <i class="bx bx-volume-full text-xl"></i> <!-- Icono de altavoz -->
              </button>
            </h2>
            <p class="text-gray-600 dark:text-gray-300">
              <span class="font-semibold">Nivel de dificultad:</span>
              <span class="inline-block px-3 py-1 rounded-full text-white" [ngClass]="{
                  'bg-green-500': priority === 'E',
                  'bg-yellow-500': priority === 'I',
                  'bg-red-500': priority === 'H'
                }">
                {{priority}}
              </span>
            </p>
            <p class="text-gray-600 dark:text-gray-300 mt-2">
              <span class="font-semibold">Categoría:</span>
              <span class="block px-3 py-1 mt-1 rounded-full bg-blue-500 text-white">
                {{category}}
              </span>
            </p>
          </div>
          <button (click)="toggleCard()" class="absolute right-4">
            <i class='bx bx-repost text-3xl'></i>
          </button>
        </div>
        <app-buttons />
      </article>
    </div>

    <!-- Reverso de la tarjeta -->
    <div class="absolute w-full h-full backface-hidden rotate-y-180">
      <article class="w-full h-full bg-white rounded-lg shadow-lg overflow-hidden dark:bg-gray-700">
        <div class="p-4 flex flex-col h-full justify-center items-center space-y-4">
          <h3 class="text-xl font-bold text-gray-900 dark:text-white">
            Definición
          </h3>
          <p class="text-gray-600 dark:text-gray-300 text-center">
            {{definition}}
          </p>
          <button (click)="toggleCard()" class="mt-4 px-4 py-2 bg-blue-500 text-white rounded-full hover:bg-blue-600">
            Volver
          </button>
        </div>
      </article>
    </div>
  </div>
</div>
